# Database Configuration
POSTGRES_USER=urlshortener
POSTGRES_PASSWORD=urlshortener_dev_password
POSTGRES_DB=urlshortener
POSTGRES_PORT=5432

# Application Configuration
DATABASE_URL=postgres://urlshortener:urlshortener_dev_password@localhost:5432/urlshortener?sslmode=disable
SECRET_KEY=shhhhh_this_is_an_dumb_key123456
SERVER_PORT=8080
BASE_URL=http://localhost:8080
